.bem {
    &__for {
        margin: 50px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__vitalik {
        font-size: 25px;
    }
}