<template>
  <div id="app">
    <navigation></navigation>
    <div class="container app__content">
      <router-view/>
    </div>
  </div>
</template>

<script>
import Navigation from './components/Navigation'

export default {
  name: 'App',
  components: {Navigation}
}
</script>

<style>
  html, body {
    height: 100%;
    background-color: #e8e8e8;
  }
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .app__content {
    padding: 20px;
  }
</style>
