<template>
  <div class="row notes">
    <div class="col-6" v-if="archiveNotes.models.length">
      <note
        v-for="note in archiveNotes.models"
        :note="note"
        :key="note.id"
        v-on:to-archive="reArchive($event)">
      </note>
    </div>
    <div v-else>Not Result Found</div>
  </div>
</template>
<script>
import {notes} from './../models/note'
import Note from './Note'
export default {
  name: 'ArchivePage',
  components: {Note},
  watch: {
    '$route' () {
      this.archiveNotes = this.filterNotes()
    }
  },
  data () {
    return {
      archiveNotes: notes
    }
  },
  created: function () {
    if (this.archiveNotes.models.length) {
      this.archiveNotes = this.filterNotes()
    } else {
      this.$http.get('/api/notes')
        .then(response => {
          notes.add(response.data)
          this.archiveNotes = this.filterNotes()
        })
    }
  },
  methods: {
    reArchive: function (event) {
      const note = notes.find({id: event})
      note.archive = false
      this.archiveNotes = this.filterNotes()
    },
    filterNotes: function () {
      return notes.filter((note) => this.filterNoteCriteria(note))
    },
    filterNoteCriteria: function (note) {
      return note.archive && (!this.$route.query.q || note.title.toLowerCase().includes(this.$route.query.q) || note.content.toLowerCase().includes(this.$route.query.q))
    }
  }
}
</script>

<style scoped>
  .notes {
    display: flex;
    justify-content: space-around;
  }
</style>
