<template>
    <div class="row notes">
      <div class="col-12 notes__add">
        <b-button
          variant="primary"
          v-on:click="addNote()">
          Add note
        </b-button>
      </div>
      <template v-if="notes.models.length">
        <div class="col-6" v-for="note in notes.models" :key="note.id">
          <div class="notes__item" v-on:click="deleteNote(note.id)"></div>
            <div v-on:dblclick="goToNote(note.id)">
              <note
                :note="note"
                :key="note.id"
                v-on:to-archive="toArchive($event)">
              </note>
            </div>
        </div>
      </template>
      <div v-else>No Result Found</div>
    </div>
</template>
<script>
import {notes} from './../models/note'
import Note from './Note'
export default {
  name: 'MainPage',
  components: {Note},
  watch: {
    '$route' () {
      this.notes = this.filterNotes()
    }
  },
  data () {
    return {
      notes: notes
    }
  },
  created: function () {
    if (this.notes.models.length) {
      this.notes = this.filterNotes()
    } else {
      this.$http.get('/api/notes')
        .then(response => {
          notes.add(response.data)
          this.notes = this.filterNotes()
        })
    }
  },
  methods: {
    deleteNote: function (event) {
      notes.remove({id: event})
      this.notes = this.filterNotes()
    },
    goToNote: function (event) {
      this.$router.push({ path: `/note/${event}` })
    },
    toArchive: function (event) {
      const note = notes.find({id: event})
      note.archive = true
      this.notes = this.filterNotes()
    },
    addNote: function () {
      const newId = notes.last().id + 1
      notes.add({id: newId})
      this.goToNote(newId)
    },
    filterNotes: function () {
      return notes.filter((note) => this.filterNoteCriteria(note))
    },
    filterNoteCriteria: function (note) {
      return !note.archive && (!this.$route.query.q || note.title.toLowerCase().includes(this.$route.query.q) || note.content.toLowerCase().includes(this.$route.query.q))
    }
  }
}
</script>
<style scoped>
  .notes {
    display: flex;
    justify-content: space-around;
  }

  .notes__add {
    text-align: right;
  }

  .notes__item {
    position: relative;
  }

  .notes__item:after {
    position: absolute;
    content: "\D7";
    right: -12px;
    top: 4px;
    font-size: 24px;
    background-color: #f63;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 12px;
    color: #fff;
    line-height: 24px;
  }
</style>
