<template>
    <b-navbar toggleable="md" type="dark" variant="info">

      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

      <b-navbar-brand href="#">Andrii Khomenko Keep</b-navbar-brand>

      <b-collapse is-nav id="nav_collapse">

        <b-navbar-nav>
          <b-nav-item to="/main">Main</b-nav-item>
          <b-nav-item to="/archive">Archive</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">

          <b-nav-form @submit="onSubmit">
            <b-form-input v-model="form.search" size="md" class="mr-md-2" type="text" placeholder="Search"/>
            <b-button size="md" class="my-2 my-md-0" type="submit">Search</b-button>
          </b-nav-form>

        </b-navbar-nav>

      </b-collapse>
    </b-navbar>
</template>

<script>
export default {
  name: 'Navigation',
  data () {
    return {
      form: {
        search: this.$route.query.q || ''
      }
    }
  },
  created: function () {
    this.onSubmit()
  },
  methods: {
    onSubmit (evt) {
      this.$router.push(

        {
          query: this.form.search
            ? { q: this.form.search.trim().toLowerCase() }
            : null
        }
      )
    }
  }
}
</script>

<style scoped>
</style>
