<template>
  <div class="note">
    <div class="note__title">{{note.title}}</div>
    <div class="note__content">
      <b-form-checkbox
        :id="note.id.toString()"
        v-model="note.done"
        unchecked-value="false"
        :disabled="note.archive">
        {{note.content}}
      </b-form-checkbox>
    </div>
    <b-button
      variant="warning"
      v-on:click="$emit('to-archive', note.id)">
      <span v-if="!note.archive">Archive</span>
      <span v-else>ReArchive</span>
    </b-button>
  </div>
</template>
<script>
export default {
  name: 'Note',
  props: ['note'],
  data () {
    return {}
  }
}
</script>

<style scoped>
  .note {
    text-align: right;
    padding: 5px;
    margin: 15px 0;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .note__title {
    text-align: left;
    padding: 5px;
    font-weight: 600;
  }

  .note__content {
    text-align: left;
    padding: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
</style>
