<template>
  <div class="note col-6">
    <b-form-input class="note__control"
                  v-model="note.title"
                  type="text"
                  placeholder="Enter Note Title">
    </b-form-input>
    <b-form-input class="note__control"
                  v-model="note.content"
                  type="text"
                  placeholder="Enter Note Content">
    </b-form-input>
  </div>
</template>
<script>
import {notes} from './../models/note'
export default {
  name: 'UpdateNote',
  data () {
    return {
      note: null
    }
  },
  created: function () {
    this.note = notes.find({id: +this.$route.params.id})
  }
}
</script>

<style scoped>
  .note {
    padding: 5px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
  }

  .note__control {
    margin: 7px 0;
  }
</style>
